<!--
Au<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Emplox a Personal Portfolio Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="static/css/chocolat.css" type="text/css" media="screen" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Emplox Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="static/js/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="static/css/flexslider.css" type="text/css" media="screen" />
<!--scrolling-->
<script type="text/javascript" src="static/js/move-top.js"></script>
<script type="text/javascript" src="static/js/easing.js"></script>
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
<!--scrolling-->
</head>
<body>
<!--top-header-->
<div id="home" class="top-header">
	 <div class="container">
		 <div class="logo">
				<h1><a href="/">Lab movie</a></h1>
		 </div>
		 <div class="top-menu">
			 <span class="menu"><img src="images/nav-icon.png" alt=""/></span>
			 <ul>

				{% if request.user.is_authenticated %}
					<li style=""><a class="scroll" href="#home" style="margin-left:-4em;">Home</a></li>
					<li><a class="scroll" href="#book">訂票</a></li>
					<li style=" margin-right:0"><a class="scroll" href="#contact" >聯絡我們</a></li>
					{% if user.is_staff or perms.partner.dashboard_access %}
						<li><a href="{% url "manager" %}" style="margin-left:19em;"><i class="icon-list-ul"></i> Dashboard </a></li>
					{% endif %}
					<li><a href="#">
						<img src="{% static "images/user-icon.png" %}"></img>
						{% if request.user.username %}
              {% if user.is_staff %}
							       {{ request.user.username}}
              {% else %}
                     <a href="/member">{{ request.user.username}}</a>
              {% endif %}
						{% else %}
              {% if user.is_staff %}
                     <a href="/manager">{{ request.user.splitUserEmail.0}}</a>
              {% else %}
                     <a href="/member">{{ request.user.splitUserEmail.0}}</a>
              {% endif %}
						{% endif %}

						</a></li>
					<li><a id="logout_link" href="{% url 'logout' %}"><i class="icon-signout"></i> Logout </a></li>
				{% else %}
					<li style="margin-left:-43em;"><a class="scroll" href="#home" style="margin-left:-4em;">Home</a></li>
					<li><a class="scroll" href="#lr">訂票</a></li>
					<li style=" margin-right:0"><a class="scroll" href="#contact" >聯絡我們</a></li>
					<li><a class="" href="{% url 'register' %}">登入/註冊</a></li>
				{% endif %}

			 </ul>
		     <!-- script-for-menu -->
				 <script>
							$("span.menu").click(function(){
								$(".top-menu ul").slideToggle("slow" , function(){
								});
							});
				 </script>
		     <!-- script-for-menu -->
		  </div>
	 </div>
</div>

{% block empty %}{% endblock %}


<div class="footer">
	 <div class="container">
		 <p>Copyrights © 2015 Emplox. All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
		 <div class="social">
				<a href="#"><i class="facebook"></i></a>
				<a href="#"><i class="twitter"></i></a>
				<a href="#"><i class="dribble"></i></a>
				<a href="#"><i class="google"></i></a>
				<a href="#"><i class="youtube"></i></a>
		 </div>
		 <div class="arrow">
			 <a class="scroll" href="#home"><img src="images/top.png" alt=""></a>
		 </div>
	 </div>
</div>
<!---->
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!---->


</body>
</html>
