{% extends "base.html" %}
{% block empty %}
<!--header-->
<div class="header">
		<div class="container">
			 <div class="banner-info">
				 <h2 style="font-size=2em">歡迎蒞臨</h2>
				 <p style="font-size=1.7em">讀paper、做報告、寫作業累了嗎？何不與親密的戰友們一同悠閒的看個電影，吃點東西，發點牢騷？心動不如馬上行動，快快訂票加入我們吧！</p>
			 </div>
			 <div class="clearfix"></div>
		</div>
</div>

<script>
	function showtimes(url, id) {
		$.get( url, { movie_id: id} )
			.done(function( data ) {
				$("#showtimes_selection").empty();
				$("#showtimes_selection").append(data);
			});
	};
	function showSeats(url, id){
		$.get( url, { showtimes_id: id } )
			.done(function( data ) {
				$("#seats").empty();
				$("#seats").append(data);
			});
	}

</script>

<!--gallery -->
<script src="static/js/jquery.chocolat.js"></script>
<!--light-box-files -->
<script type="text/javascript">
$(function() {
	$('.moments-bottom a').Chocolat();
});
</script>
<!--gallery js//Movie-->
<div id="preview" class="gallery">
	 <div class="container">
			<h3>上映電影</h3>
			{% for movie in movies %}
				<div class="col-md-4">
					<div class="margin-top:0.7em;display:inline-block">
						<img src ="{{movie.image}}" style="width:25em;height:35em;margin-top:3em">
						<div style="color:#3598db;font-size:1.5em;font-family:'Dosis-Medium.ttf';margin-top:0.7em;">{{movie.name}}</div>
						<form   action="/movieDetail" method="post">
			        {% csrf_token %}
			        <input name="movie_id"  type="hidden" value='{{movie.id}}' class="input">
			        <input type="submit" value="詳細介紹" class="submit">
			      </form>
				</div>
			</div>
			{% endfor %}
	</div>
</div>
{% if request.user.is_authenticated %}

<form action="/booking" method="post">
	{% csrf_token %}
<div id="book" class="gallery">
	 <div class="container">

		<div class="gallery-info" id="movies_selection" style="display:block;">
		<h3>電影選擇</h3>
			{% for movie in movies %}
				<div class="col-md-4">
					<a href="#select_showtimes" onclick="showtimes('showtimes', '{{ movie.id}}');$('.movieGroup input:checkbox').prop('checked',false);$('#movie_{{ movie.id }}').prop('checked', true);" class="scroll">
						<img src ="{{movie.image}}" style="width:25em;height:35em;margin-top:3em">
					</a>
					<div style="color:#3598db;font-size:1.5em;font-family:'Dosis-Medium.ttf';margin-top:0.7em;">{{movie.name}}</div>
				</div>
				<div class="movieGroup" style="display:none">
					<input type="checkbox" value="{{ movie.id }}" id="movie_{{ movie.id }}" name="movie">
				</div>
			{% endfor %}
		</div>
		<div calss="clearfix"></div>
	</div>
</div>



<div class="gallery-info" style="display:block;">
	<div class"container">
		<h3 id="select_showtimes" style="color:#3598db;font-size:2.5em; text-align:center">場次選擇</h3>
		<div calss="clearfix"></div>
		<div id="showtimes_selection">
		</div>
	</div>
</div>


		<div class="gallery-info" style="display:block;">
			<div class"container">
				<h3 id="select_meals" style="color:#3598db;font-size:2.5em; text-align:center">飲食/套餐選擇</h3>
			{% for meal in meals %}
				<div class="col-md-12">
					<a href="#select_seats" onclick="$('#meal_{{ meal.id }}').prop('checked', true);" class="scroll">
						<img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXDVcbFcWCMeIjCm2LqVE0RcMlfZ25zhYurrZPIDeunECugqLL" style="width:15em;height:12em;">
					</a>
					<div style="color:#3598db;font-size:1.5em;font-family:'Dosis-Medium.ttf';margin-top:0.7em;">{{ meal.name }}</div>
					<br><input type="checkbox" value="{{ meal.id }}" id="meal_{{ meal.id }}" name="meal">
					<div calss="clearfix"></div>
				</div>
			</div>
		</div>

			{% endfor %}

		<div class="gallery-info" style="display:block;" id="seats" style="display:block;">
			<h3 id="select_seats" style="color:#3598db;font-size:2.5em; text-align:center">座位選擇</h3>
			<div class="clearfix"> </div>
		</div>

<!---->
<div id="blog" class="blog">
	<div class="container">
		<div class="banner-info">
				<button type="submit">完成訂票</button>
		 </div>
	</div>
</div>
<!---->
</form>





<!---->
<div id="contact" class="contact">
	 <div class="container">
		 <h3>聯絡我們</h3>
		 <div class="touch-top">
			 <div class="col-md-8 touch-left">
				 <form>
					<input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" />
					<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" />
					<textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}"></textarea>
					<input type="submit" value="SUBMIT">
				 </form>
			 </div>
			 <div class="col-md-4 touch-right">
					<div class="touch-right-top">
							<span class="add"> </span>
							<h4>116台灣台北市文山區指南路二段64號<label>政治大學商學院五樓</label></h4>
					</div>
					<!-- <div class="touch-right-top">
							<span class="mail"> </span>
							<p><a href="mailto:example@email.com">EMAIL@DOMAIN.COM</a></p>
					</div>
					<div class="touch-right-top">
							<span class="num"> </span>
							<p>+0123 456 789</p>
					</div> -->
			 </div>
				<div class="clearfix"></div>
		  </div>
	 </div>
</div>
{% else %}
<!--Service-->
<div id="lr" class="service">
	<div class="container">
		<h3>登入/註冊</h3>
		<div class="service-grids">
		<div class="icon-grids">
			<div class="col-md-12 futr-grid futr1">
				 <div class="icon-pic">
						   <div class="icon text-center">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						</div>
				 </div>
				 <div class="icon-info">
					   <h4><a href="{% url "register" %}">立即註冊/登入</a></h4>
					   <p>立即註冊/登入，享受悠閒時光！</p>
				 </div>
				 <div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
		</div>
	</div>
</div>
{% endif %}

{% endblock %}
