

{% extends "base.html" %}
{% block empty %}

<style>
  .input{
    width: 80%;
    margin: 7px auto;
    color: #999;
    background: none;
    padding: 10px 10px;
    outline: none;
    border: 1px solid #999;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
  }
  .submit{
    color: #ffffff;
    padding: 9px 30px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    margin: 27px 0 0 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border: 2px solid #3598db;
    background: #3598db;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
  }
</style>

<div class="contact" id="contact">
  <div class="container">
    <div class="col-md-4 touch-left">
      <p> </p>
      <h3>新增電影</h3>
      <div class="touch-top toCenter">

        <form action="/manager" method="post">
          {% csrf_token %}
          <p><input name="movie_name" onblur="if (this.value == '') {this.value = 'Movie Name';}" onfocus="this.value = '';" type="text" value="Movie name"></p>
          <p><input name="movie_type" onblur="if (this.value == '') {this.value = 'Type';}" onfocus="this.value = '';" type="text" value="Type"></p>
          <p><input name="movie_runtime" onblur="if (this.value == '') {this.value = 'Duration';}" onfocus="this.value = '';" type="text" value="Duration"></p>
          <p><input name="movie_director" onblur="if (this.value == '') {this.value = 'Director';}" onfocus="this.value = '';" type="text" value="Director"></p>
          <p><input name="movie_actor" onblur="if (this.value == '') {this.value = 'Actor';}" onfocus="this.value = '';" type="text" value="Actor"></p>
          <p><input name="movie_imageUrl" onblur="if (this.value == '') {this.value = 'Image URL';}" onfocus="this.value = '';" type="text" value="image URL"></input></p>
          <p><input type="submit" value="Submit"></p>

        </form>

      </div>
    </div>
    <h3>新增場次</h3>
    {% for movie in movies %}
    <div class="col-md-4">
      <p>{{ movie.name }}</p>
      <a href="{% url 'movieDetail' movie_id=movie.id %}">
        <img src ="{{movie.image}}" style="width:15em;height:12em;">
      </a>
        <form action="/addShowTime" method="post">
          {% csrf_token %}
          <p><input name="cinema" onblur="if (this.value == '') {this.value = 'Cinema';}" onfocus="this.value = '';" type="varchar" value="Cinema" class="input"></p>
          <p><input name="showtime" onblur="if (this.value == '') {this.value = 'Showtime';}" onfocus="this.value = '';" type="datetime-local" value="Showtime" class="input"></p>
          <p><input name="price" onblur="if (this.value == '') {this.value = 'Price';}" onfocus="this.value = '';" type="int" value="Price" class="input"></p>
          <p><input name="movie_id" onblur="if (this.value == '') {this.value = 'Movie_id';}" onfocus="this.value = '{{movie.id}}';" type="int" value="Moive_id" class="input"></p>
          <p><input type="submit" value="Submit" class="submit"></p>

        </form>

    </div>
    {% endfor %}
    <h3>新增飲食</h3>
      <div class="col-md-12">
        <form action="/addMeal" method="post">
          {% csrf_token %}
          <input name="name" onblur="if (this.value == '') {this.value = 'Name';}" onfocus="this.value = '';" type="varchar" value="Name" class="input">
          <input name="kind" onblur="if (this.value == '') {this.value = 'Kind';}" onfocus="this.value = '';" type="varchar" value="kind" class="input">
          <input name="flavor" onblur="if (this.value == '') {this.value = 'Flavor';}" onfocus="this.value = '';" type="varchar" value="Flavor" class="input">
          <input name="price" onblur="if (this.value == '') {this.value = 'Price';}" onfocus="this.value = '';" type="varchar" value="Price" class="input">
          <p><input type="submit" value="Submit" class="submit"></p>
      </div>
  </div>
</div>

{% endblock %}
