

{% extends "base.html" %}
{% block empty %}

<div class="contact" id="contact">
  <div class="container">
    <div class="col-md-8 touch-left">
      <p> </p>
      <h3>新增電影</h3>
      <div class="touch-top toCenter">

        <form action="/manager" method="post">
          {% csrf_token %}
          <p><input name="movie_name" onblur="if (this.value == '') {this.value = 'Movie Name';}" onfocus="this.value = '';" type="text" value="Movie name"></p>
          <p><input name="movie_type" onblur="if (this.value == '') {this.value = 'Type';}" onfocus="this.value = '';" type="text" value="Type"></p>
          <p><input name="movie_runtime" onblur="if (this.value == '') {this.value = 'Duration';}" onfocus="this.value = '';" type="text" value="Duration"></p>
          <p><input name="movie_director" onblur="if (this.value == '') {this.value = 'Director';}" onfocus="this.value = '';" type="text" value="Director"></p>
          <p><input name="movie_actor" onblur="if (this.value == '') {this.value = 'Actor';}" onfocus="this.value = '';" type="text" value="Actor"></p>
          <p><input name="movie_imageUrl" onblur="if (this.value == '') {this.value = 'Image URL';}" onfocus="this.value = '';" type="text" value="image URL"></input></p>
          <p><input type="submit" value="Submit"></p>

        </form>

      </div>
    </div>
    <h3>新增場次</h3>
    {% for movie in movies %}
    <div class="col-md-4">
      <p>{{ movie.name }}</p>
      <a href="#">
        <img src ="{{movie.image}}" style="width:15em;height:12em;">
        <form action="/addShowTime" method="post">
          {% csrf_token %}
          <p><input name="cinema" onblur="if (this.value == '') {this.value = 'Cinema';}" onfocus="this.value = '';" type="varchar" value="Cinema"></p>
          <p><input name="showtime" onblur="if (this.value == '') {this.value = 'Showtime';}" onfocus="this.value = '';" type="datetime" value="Showtime"></p>
          <p><input name="price" onblur="if (this.value == '') {this.value = 'Price';}" onfocus="this.value = '';" type="int" value="Price"></p>
          <p><input name="movie_id" onblur="if (this.value == '') {this.value = 'Movie_id';}" onfocus="this.value = '{{movie.id}}';" type="int" value="Moive_id"></p>
          <p><input type="submit" value="Submit"></p>

        </form>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
