{% extends "base.html" %}
{% block empty %}
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<h3>訂票紀錄</h3>
<table>
  <thead>
    <tr>
      <th>Movie name</th>
      <th>Showtimes</th>
      <th>Seat</th>
      <th>Meal/Combo</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="4"><hr> </td>
    </tr>

    {% for order in orders %}
    <tr>
      <td>
        {{ order.movie_name }}
      </td>
      <td>
        {{ order.showtime }}
      </td>
      <td>
        {% for seat in order.seat %}
          {{ seat }},
         {% endfor %}
      </td>
      <td>
      {% for addition in order.addition %}
       {{ addition }}
      {% endfor %}
      </td>
      <td>
        {% if order.status == 3 %}
          已取消
        {% elif order.status == 2 %}
          付款完成
        {% elif order.status == 1 %}
          未付款
        {% endif %}
      </td>
      <td>
        {% if order.status == 3 %}
        {% else %}
        <form action="/changeConfirm" method="post">
          {% csrf_token %}
          <p><input name="order_id"  type="hidden" value="{{order.id}}"></p>
          <p><input name="status" type="hidden" value="3"></p>
          <p><input type="submit" value="Cancel"></p>
        </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}

  </tbody>

</table>

{% endblock %}
