{% extends "base.html" %}
{% block empty %}
<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
<h3>訂票紀錄</h3>
<table>
  <thead>
    <tr>
      <th>Movie name</th>
      <th>Showtimes</th>
      <th>Seat</th>
      <th>Meal/Combo</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="4"><hr> </td>
    </tr>

    {% for order in orders %}
    <tr>
      <td>
        {{ order.movie_name }}
      </td>
      <td>
        {{ order.showtime }}
      </td>
      <td>
        {% for seat in order.seat %}
          {{ seat }}, 
         {% endfor %}
      </td>
      <td>
      {% for addition in order.addition %}
       {{ addition }}
      {% endfor %}
      </td>
      <td>
        {{ order.status }}
      </td>
      <td>
        <input type="button" value="cancel">
      </td>
    </tr>
    {% endfor %}

  </tbody>

</table>

{% endblock %}
