{% extends "base.html" %}

{% block empty %}

<div>
  <button><a href="/manager">上一頁</a></button>
</div>
<div class="container">
  <div class="col-md-4 touch-left">
      <img src ="{{movie.image}}" style="width:15em;height:12em;">
      <p><h3>{{movie.name}}</h3></p>
      <p><h3>{{movie.type}}</h3></p>
      <p><h3>{{movie.runtime}}</h3></p>
      <p><h3>{{movie.director}}</h3></p>
      <p><h3>{{movie.actor}}</h3></p>
      <form action="/deleteMovie" method="post">
        {% csrf_token %}
        <p><input name="movie_id"  type="hidden" value="{{movie.id}}"></p>
        <p><input type="submit" value="Delete"></p>
      </form>
  </div>
  <div class="col-md-8 touch-right">
    <h3>現有場次</h3>
    {% for showtime in showtime %}
      <br>{{showtime}}</br>
        <form action="/deleteShowtime" method="post">
          {% csrf_token %}
          <p><input name="showtime_id"  type="hidden" value="{{showtime.0}}"></p>
          <p><input name="movie_id" type="hidden" value="{{movie.id}}"></p>
          <p><input type="submit" value="Delete"></p>
        </form>
    {% endfor %}
  </div>

</div>
{% endblock %}
