{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}
{% block empty %}
<div class="contact" id="contact">
  <div class="container">
    <div class="col-md-6 touch-left">
      <h3>{% placeholder 'index-h3-5' or %}Register{% endplaceholder %}</h3>
      <div class="touch-top toCenter">
        {% placeholder 'index-form-1' or %}
        <form>
          <p><input onblur="if (this.value == '') {this.value = 'Account';}" onfocus="this.value = '';" type="text" value="Email"></p>
          <p><input onblur="if (this.value == '') {this.value = 'Password';}" onfocus="this.value = '';" type="text" value="Password"></p>
          <p><input onblur="if (this.value == '') {this.value = 'Name';}" onfocus="this.value = '';" type="text" value="Name"></p>
          <p><input onblur="if (this.value == '') {this.value = 'Birthday';}" onfocus="this.value = '';" type="date" value="Birthday"></p>
          <p><input onblur="if (this.value == '') {this.value = 'PhoneNumber';}" onfocus="this.value = '';" type="text" value="PhoneNumber"></p>
          <p><input type="submit" value="Register"></p>

        </form>
        {% endplaceholder %}
      </div>
    </div>
    <div class="col-md-6 toCenter">
      <h3>{% placeholder 'index-h3-5' or %}Login{% endplaceholder %}</h3>
      <div class="touch-top">
        {% placeholder 'index-form-1' or %}
        <form>
          <p><input onblur="if (this.value == '') {this.value = 'Account';}" onfocus="this.value = '';" type="text" value="Account"></p>
          <p><input onblur="if (this.value == '') {this.value = 'Password';}" onfocus="this.value = '';" type="text" value="Password"></p>
          <p><input type="submit" value="Log in"></p>
        </form>
        {% endplaceholder %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
